@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

.jumbotron h1 {
  font-size: 4rem;
}

:root {
  --color-horses-neck: #5c3c10;
  /* anchor tag hover */
  --color-white-rock: #f0ece2;
  /* body color */
  --color-moon-mist: #dbd7cb;
  /* mineral card back */
  --color-wafer: #dfd3c3;
  /* navbar, mineral card front, footer */
  --color-sandal: #a3816a;
  /* reverse mineral cards */
  --color-black: #000;
  /* text-color */
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-white-rock);
  font-size: 1.25rem;
}

nav,
nav a,
.navbar-brand {
  background: var(--color-wafer);
  font-size: 1.5rem;
  color: var(--color-black);
}

a:hover {
  color: var(--color-horses-neck);
}

#hamburger-icon {
  color: var(--color-black);
}

.overview {
  margin: 0 auto;
  width: 80%;
}

.jumbotron {
  height: 50vh;
  background: url("https://images.unsplash.com/photo-1542990253-a781e04c0082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=984&q=80") no-repeat center/cover;
  position: relative;
}

.jumbotron h1 {
  color: var(--color-black);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  margin: 0 auto;
  width: 70%;
}

.mineral-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
}

.mineral-container {
  position: relative;
  width: 400px;
  height: 350px;
  margin: 0;
  padding: 0;
}

.mineral-card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}

.mineral-card h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.mineral-card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mineral-card-front, .mineral-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visiblity: hidden;
}

.mineral-card-front {
  background: var(--color-wafer);
}

.mineral-card-back {
  background: var(--color-moon-mist);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 1.5rem 1rem;
  text-align: center;
}

.reverse {
  background: var(--color-sandal);
}

footer {
  text-align: center;
  height: 8vh;
  margin-top: 20px;
  background-color: var(--color-wafer);
}

footer p {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .mineral-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
  }
}

@media (max-width: 768px) {
  .mineral-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
/*# sourceMappingURL=minerals.css.map */