* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  :root {
    --light-green: #a7d7c5;
    --tan-color: #f9f8eb;
    --black-color: #000;
  }
  
  body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--tan-color);
    font-size: 1.5rem;
  }
  
  nav, nav a, .navbar-brand {
    background-color: var(--light-green);
    font-size: 1.5rem;
    color: var(--black-color);
  }
  
  a:hover {
    color: var(--tan-color);
  }
  
  #hamburger-icon {
    color: var(--black-color);
  }
  
  .main-container {
    padding: 3.5rem 0 0;
  }
  
  .jumbotron {
    height: 50vh;
    color: var(--black-color);
    background: url('https://images.unsplash.com/photo-1523472721958-978152f4d69b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center/cover;
    opacity: 0.8;
  }
  
  .jumbotron h1 {
    font-size: 4rem;
  }
  
  .jumbotron p {
    font-size: 1.75rem;
  }
  
  /* =============
    Typography
  ================*/
  
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  hr {
    width: 40%;
    border: 1px solid #74b49b;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .png-img {
    height: 35px;
    width: 35px;
  }
  
  /* =============
    Tabs Fat Soluble
  ================*/
  
  .tabs-fs .tabs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .tabs-fs .tabs-container div p {
    font-size: 2rem;
  }
  
  .tabs-fs .tabs-container div {
    padding: 0;
  }
  
  .tabs-fs .tabs-container div:hover {
    color: var(--light-green);
    cursor: pointer;
  }
  
  .tab-border {
    border-bottom: var(--black-color) 4px solid;
  }
  
  #tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content {
    display: none;
  }
  
  .show {
    display: block !important;
  }
  
  .fat-soluble-content {
    padding: 1.25rem 0;
  }
  
  /* =============
    Table
  ================*/
  
  .table tr td {
    border: 1px solid var(--black-color);
    padding: 0 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .table th {
    font-size: 2.5rem;
    border-top: none;
  }
  
  /* =============
    Water Soluble Vitamins
  ================*/
  
  div#water-soluble-vitamins {
    margin: 20px 0;
  }
  
  .water-soluble-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }
  
  .water-soluble-title {
    padding: 0 0.5rem;
  }
  
  .water-soluble-content {
    overflow: hidden;
    padding: 0 0.5rem;
  }
  
  /* =============
    Footer & Flaticon Div
  ================*/
  
  .flaticon-div {
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
  }
  
  footer {
    margin-top: 20px;
    height: 8vh;
    text-align: center;
    background-color: var(--light-green);
  }
  
  footer p {
    font-size: 1.25rem;
    padding-top: 1rem;
    font-weight: bold;
  }
  
  /* =============
    Media Queries
  ================*/
  
  @media (max-width: 768px) {
    .jumbotron h1 {
      padding-top: 3rem;
      font-size: 2.5rem;
    }
    
    .jumbotron p {
      font-size: 1.25rem;
    }
    
    .tabs-fs .tabs-container div p {
      font-size: 1.5rem;
    }
    
    .water-soluble-column {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }
  