html body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #F0ECE2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
  font-size: 1.25rem;
}

nav, nav a, .navbar-brand {
  background: #dfd3c3;
  font-size: 1.5rem;
  color: black;
}

a:hover {
  color: #5c3c10;
}

#bars {
  color: black;
}

.jumbotron, footer {
  background: #c7b198;
}

.jumbotron h1 {
  font-size: 4rem;
}

section, div {
  margin: 0;
  border-radius: 2px;
}

#reverse {
  background: #dbd7cb;
}
