html body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 70px;
  background: #AF7AC5;
  text-align: center;
  height: 100%;
  width: 100%;
}

nav, nav a, .navbar-brand {
  background: #7c4789;
  font-size: 1.5rem;
  color: white;
}

a:hover {
  color: #AF7AC5;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.jumbotron, .jumbotron h1 {
  background: #9B59B6;
  font-size: 4.5rem;
}

h2 {
  font-weight: 800;
}

p {
  font-size: 1.5rem;
}


@media screen and (max-width: 576px){
  .jumbotron h1 {
    font-size: 2.75rem;
  }
  p {
    font-size: 1.5rem;
  }
}

