html body {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #84a1be;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.jumbotron {
  background: #ece493;
}

.jumbotron h1 {
  font-size: 4rem;
}

nav, .navbar-brand, footer {
  font-size: 1.5rem;
  background: #535962;
}

#bars {
  color: #ECE493;
}

a {
  color: white;
}

a:hover {
  color: #ece493;
}

.hr {
  border: 1px solid #5c7893;
  margin-top: 0;
}

.info {
  margin: 10px;
}
