html body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #EC7063;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

nav, nav a, .navbar-brand {
  font-size: 1.5rem;
  background: #ffc0c2;
  color: black;
}

#bars {
  color: #E74C3C;
}

.fa-carrot {
  color: black;
  font-size: 8rem;
}

a:hover {
  color: #E74C3C;
}

.jumbotron, .jumbotron h1 {
  background: #E74C3C;
  font-size: 4.5rem;
}
