body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #a7d7c5;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

nav, nav a, .navbar-brand {
  background: #f9f8eb;
  font-size: 1.5rem;
  color: #5c8d89;
}

a:hover {
  color: black;
  background: #a7d7c5;
}

#bars {
  color: #74b49b;
}

.main-container {
  padding: 3.5rem 0 0;
  margin: 0;
  padding
}

.jumbotron {
  background: #74b49b;
}

.jumbotron h1 {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

hr {
  width: 100%;
  border: 1px solid #74b49b;
}

footer {
  background: #f9f8eb;
  margin: 0;
  padding: 1.5rem;
}

/* Tabs Fat Soluble */

.tabs-fs .tabs-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.tabs-fs .tabs-container div p {
  font-size: 2rem;
}

.tabs-fs .tabs-container div {
  padding: 0;
}

.tabs-fs .tabs-container div:hover {
  color: white;
  cursor: pointer;
}

.tab-border {
  border-bottom: #fff 4px solid;
}

#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content {
  display: none;
}

.show {
  display: block !important;
}

.fat-soluble-content {
  padding: 1.25rem 0;
}

/* Table */

.table tr td {
  border: 1px solid black;
  padding: 0 1.25rem;
  font-size: 1.25rem;
}

.table th {
  font-size: 2.5rem;
  border-top: none;
}
