body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #a7d7c5;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.25rem;
}

nav, nav a, .navbar-brand {
  background: #f9f8eb;
  font-size: 1.5rem;
  color: #5c8d89;
}

a:hover {
  color: black;
}

#bars {
  color: #74b49b;
}

.jumbotron, .jumbotron h1 {
  font-size: 4rem;
  background: #74b49b;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

hr {
  width: 75%;
  border: 1px solid #74b49b;
}

footer {
  background: #f9f8eb;
}

