* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #AF7AC5;
  text-align: center;
}

nav, nav a, .navbar-brand {
  background: #7c4789;
  font-size: 1.5rem;
  color: white;
}

a:hover {
  color: #AF7AC5;
}

#bars {
  color: white;
}

.jumbotron, .jumbotron h1 {
  background: #9B59B6;
  font-size: 4rem;
}

h2 {
  font-weight: 800;
}

p {
  font-size: 1.5rem;
}

footer {
  background: #9B59B6;
  text-align: center;
  height: 8vh;
  margin-top: 20px;
}

footer p {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}


@media screen and (max-width: 576px){
  .jumbotron h1 {
    font-size: 2.75rem;
  }
  p {
    font-size: 1.5rem;
  }
}

