* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

:root {
  --color-white: #fff;
  --color-black: #000;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #F5F5F5;
  font-size: 1.5rem;
}

.jumbotron {
  background: url('https://images.unsplash.com/photo-1522184216316-3c25379f9760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center/cover;
  height: 50vh;
  text-align: center;
  color: var(--color-white);
}

.jumbotron h1 {
  font-size: 4rem;
}

.jumbotron p {
  font-size: 2rem;
}

nav, .navbar-brand, footer {
  font-size: 1.5rem;
  background: #bb8fa9;
}

#hamburger-icon {
  color: var(--color-black);
}

a {
  color: var(--color-black);
}

a:hover {
  color: #8d309b;
}

.hr {
  border: 1px solid #5c7893;
  margin-top: 0;
}

footer {
  color: var(--color-black);
  text-align: center;
  height: 8vh;
  margin-top: 20px;
}

footer p {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
