* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #fff;
}

nav, nav a, .navbar-brand {
  background-color: pink;
  font-size: 1.5rem;
  color: #000;
}

a:hover {
  color: #000;
}

#bars {
  color: #000;
}

.jumbotron {
    height: 50vh;
    background: url("https://images.unsplash.com/photo-1538159021332-8f28e9eca2fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80")
      no-repeat center/cover;
    /* Picture by Ella Olson - Unsplash*/
    position: relative;
  }
  
  .jumbotron h1 {
    font-size: 4rem;
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  footer {
    background: var(--color-dark-purple);
    text-align: center;
    height: 8vh;
    margin-top: 20px;
  }
  
  footer p {
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }