* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background: #EC7063;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

nav, nav a, .navbar-brand {
  font-size: 1.5rem;
  background: #ffc0c2;
  color: black;
}

#bars {
  color: #E74C3C;
}

.fa-carrot {
  color: black;
  font-size: 8rem;
}

a:hover {
  color: #E74C3C;
}

.jumbotron, .jumbotron h1 {
  background: #E74C3C;
  font-size: 4.5rem;
}

footer {
  height: 8vh;
  margin-top: 20px;
}

footer p {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
